<!doctype html>
<html lang="en">
    <head>
        <title>Edit Page</title>
    </head>
    <body>
        <h1>Edit page</h1>
 
        <form method="post">
            <label>NAME</label>
            <input type="text" name="name" value="{{student[1]}}" />
 
            <br />
            <br />
 
            <label>EMAIL</label>
            <input type="email" name="email" value="{{student[2]}}" />
            <br />
            <br />
            <button type="submit">UPDATE</button>
        </form>
    </body>
</html>