<!doctype html>
<html lang="en">
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <h1>Index page</h1>
 
        <a href="/add">Add new Student</a>
 
        <table border="1px">
            <thead>
                <td>ID</td>
                <td>NAME</td>
                <td>EMAIL</td>
            </thead>
 
            {% for student in studentList %}
            <tr>
                <td>{{student[0]}}</td>
                <td>{{student[1]}}</td>
                <td>{{student[2]}}</td>
                <td>
                    <a href="/delete/{{student[0]}}"> Delete </a>
 
                    <a href="/edit/{{student[0]}}"> Edit </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>